.env
node_modules
Thumbs.db
.tmp
.lock
.log
/target
/out
/bin
.class
.pyc
.o
/packages
/*.cmake
/*.DS_Store
/.user
build/
remote-repo/
coverage/
.module-cache
*.log*
chrome-user-data
.idea
*.iml
.vscode
*.swp
*.swo
